.no-todo-items {
  font-size: 20px;
  margin-bottom: 15px;
  font-style: italic;
}

.todo-list {
  width: 50%;
}

.todo-list ul {
  list-style: none;
  padding: 0;
}

.todo-list-item + .todo-list-item {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
}

.todo-item-edit input[type="text"] {
  padding: 3px;
  width: 80%;
}

.todo-item-incomplete button,
.todo-item-edit button {
  float: right;
}

.todo-item-incomplete button + button,
.todo-item-edit button + button {
  margin-right: 10px;
}

.todo-item-incomplete input[type="checkbox"],
.todo-item-complete input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item-complete {
  text-decoration: line-through;
}
